:root {
    --entonador1: #191716ff;
    --entonador2: #e6af2eff;
    --fondo: #e0e2dbff;
    --extra1: #3d348bff;
    --extra2: #beb7a4ff;
    --y: #F29D16;
}

.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--entonador1);
    font-family: 'Signika', sans-serif;
}

.form-title{
    color: var(--y);
}

.border-one{
    border-radius: 10px;
    border: #d68910 3px solid;
    width: 30%;
}

.task-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 82%;
    border: 5px solid #000;
    border-right: none; 
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.create-button {
    background-color: #f39c12;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.create-button:hover {
    background-color: #d68910;
}

.home-container {
    padding: 20px;
    background-color: var(--entonador1);
    height: 100vh;
    font-family: 'Signika', sans-serif; 
}

.page-title {
    color: var(--y);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.task-card-border {
    border: 2px solid var(--y);
    border-radius: 8px;
    transition: transform 0.2s;
}

.task-card-border:hover {
    transform: translateY(-4px);
}

.task-card {
    border: 4px solid var(--entonador1);
    background-color: var(--fondo);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
}

.importance {
    color: #FFD700;
}

.author {
    color: #555;
}

.card-title {
    font-size: 18px;
    margin-bottom: 8px;
}

.card-description {
    font-size: 14px;
    color: #333;
}

.btn-done{
    border: 2px solid var(--entonador1);
    margin: 2px;
    padding: 4px;
    background-color: var(--y);
    color: var(--entonador1);
    border-radius: 5px;
    cursor: pointer;
}

.btn-undone{
    border: 1px solid var(--y);
    margin: 2px;
    padding: 4px;
    background-color: var(--entonador1);
    color: var(--y);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
}

.btn-edit, .btn-edit:hover, .btn-edit:visited{
    border: 1px solid var(--y);
    margin: 2px;
    padding: 2px 8px;
    background-color: var(--entonador1);
    color: var(--y);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
}

.btn-delete{
    border: 1px solid var(--y);
    margin: 2px;
    padding: 4px;
    background-color: var(--entonador1);
    color: var(--y);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
}